<!DOCTYPE html>
<html>
  <%- include('../../partials/head')%>
  <body>
    <div id="title">
      <h2>Welcome to my app!</h2>
    </div>
    <%- include('form'); %>
    <%- include('results'); %>
  </body>
</html>