
<div id="form-container">
    <form id="form" >
        <input required name="nome" placeholder="Nome" type="text"/>
        <input required name="sobrenome" placeholder="Sobrenome" type="text"/>
        <input required name="email" placeholder="E-mail" type="email"/>
        <button id="sbmt-btn" type="submit">Enviar</button>
    </form>    
    <div hidden=true class="loader"></div>
    <%- include('results'); %>
</div>



<script>
    let result = {}
    
    function convertFormToJSON(form) {
        return $(form)
            .serializeArray()
            .reduce(function (json, { name, value }) {
                json[name] = value;
                return json;
            }, {});
    }

    $(document).on({
        ajaxStart: function () {                                
            $('.loader').show()                                   
        },
        ajaxStop: function() {
            $('.loader').hide()                   
        }
    }); 

    $( "#form" ).submit(function(e) {
        $('.loader').show()
        e.preventDefault()
        $('.loader').show()
        const data = convertFormToJSON('#form');
        console.log(data)
        let dataArr = $("form").serializeArray()
        $('#result').empty()
        $('.loader').show() 
        $.ajax({
            type: "POST",
            url: 'http://138.68.29.250:8082/',
            data,
            contentType: 'application/x-www-form-urlencoded',
            async:false,
            success: function(res){
                var parsed = []
                res.slice(0, -1).split('#').forEach((item, index) => {
                    if(index % 2 == 0){
                        parsed.push({[item]: res.split('#')[index + 1]})
                    }
                })
                parsed.map((i, ind) => {
                    dataArr.map((j, ind2) => {     
                        if(Object.keys(i)[0] == j.name[0]){
                            dataArr[ind2].cod = Object.values(i)[0]
                        }
                    })
                    
                }) 
                jsonArr = JSON.stringify({"data":dataArr})
                console.log(JSON.parse(jsonArr))
                
                $.ajax({
                    type: "POST",
                    url: 'http://localhost:3000/api',
                    data: jsonArr, 
                    dataType: 'json',
                    contentType: 'application/json',
                    async:false,
                    success: function(res){
                        console.log(res)
                        $('#result-div').css({
                            "display": 'flex',
                            "flex-direction": 'column',
                            "align-items": 'center',
                            "justify-content": 'center'
                        })
                        Object.keys(res).map((i, ind) => {
                            $('#result').append(`<p>${i.charAt(0).toUpperCase() + i.slice(1)}: ${res[i]}</p>`)
                        })
                        $('.loader').hide()
                    },
                    error: function(err){
                        console.log(err)
                    }
                })
            },
        });
    });
</script>